/*! -------------------- Font Imports -------------------- */
/** Google Fonts:
** Open Sans, Raleway, Quicksand, JetBrains Mono, Major Mono Display, Maven Pro, Poppins, Roboto, Roboto Mono  
** */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Major+Mono+Display&family=Maven+Pro:wght@400;500;600&family=Open+Sans&family=Poppins:wght@200;300;400;600;800&family=Quicksand&family=Raleway&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap");

/** Rems and their corresponding font sizes
    *? 1rem = 16px
    *? 2rem = 32px
    *? 3rem = 48px
    *? 4rem = 64px
    *? 5rem = 80px
    *? 6rem = 96px
    ** h1 {
        *? font-size: 2rem;
    }
    ** h2 {
        *? font-size: 1.5rem;
    }
    ** body {
        *? font-size: 1rem;
    }
    ** small {
        *? font-size: 0.8rem;
    }
** */

/*! -------------------- Background Gradient -------------------- */

:root {
  --gradient-start: #5eaaaf;
  --gradient-middle: #2f2e6c;
  --gradient-end: #251f3e;
}

body {
  background: -webkit-linear-gradient(
    300.74deg,
    var(--gradient-start) -10%,
    var(--gradient-middle) 49%,
    var(--gradient-end) 85.61%
  );
  background: -o-linear-gradient(
    300.74deg,
    var(--gradient-start) -10%,
    var(--gradient-middle) 49%,
    var(--gradient-end) 85.61%
  );
  background: -moz-linear-gradient(
    300.74deg,
    var(--gradient-start) -10%,
    var(--gradient-middle) 49%,
    var(--gradient-end) 8-15.61%
  );
  background: linear-gradient(
    300.74deg,
    var(--gradient-start) -10%,
    var(--gradient-middle) 49%,
    var(--gradient-end) 85.61%
  );

  background-attachment: fixed;
}

/*! -------------------- Welcome Message -------------------- */
.welcomeContainer {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 5vw;
  margin-top: 5vh;
  white-space: pre-line;
  width: 55vw;
}
.title {
  color: white;
  font-family: "Open Sans";
  font-size: 3.5rem;
}
.welcomeMessage {
  margin-top: 1.8vh;
  color: white;
  font-family: "Open Sans";
  font-size: 1.2rem;
  opacity: 0.55;
}

/*! -------------------- Ellipse -------------------- */

.ellipseContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  position: fixed;
  margin-left: 18vw;
}

.svgEllipse {
  background-image: url("../assets/img/Ellipse.svg");
  background-size: cover;
  background: linear-gradient(
    250.38deg,
    rgba(247, 247, 249, 0) 47.02%,
    rgba(224, 230, 243, 0.5) 142.05%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(163.6deg);
  /* width: 494.83px;
  min-width: 190px;
  height: 512.23px;
  min-height: 200px;
  border-radius: 50%; */
  width: 32vw;
  height: 60%;
  min-width: 100px;
  min-height: 200px;
  border-radius: 50%;
  margin-bottom: -80px;
  cursor: pointer;
  /*? Shadow Addition to Ellipse */
  /* box-shadow: 30px -35px 50px -10px rgba(255, 255, 255, 0.3); */
}

/*! -------------------- Constellations -------------------- */
.constellationContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  position: fixed;
  right: 0;
  margin-right: 12vw;
  margin-top: 10vh;
}

.svgConstellation {
  background-image: url("../assets/img/constellation.svg");
  background-size: cover;
  width: 13vw;
  height: 25%;
  min-width: 220px;
  min-height: 300px;
}
/*! -------------------- Entire Constellation -------------------- */
.entireConstellationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: fixed;
  right: 0;
  margin-right: 8.4vw;
  margin-top: 4.7vh;
  /* padding: 30px; */
}

.svgEntireConstellation {
  background-image: url("../assets/img/entireConstellation.svg");
  background-size: cover;
  width: 25vw;
  height: 60%;
  min-width: 220px;
  min-height: 300px;
  margin-top: 10px;
}
.svgEntireConstellation2 {
  background-image: url("../assets/img/entireConstellation.svg");
  background-size: cover;
  width: 18vw;
  height: 30%;
  min-width: 220px;
  min-height: 300px;
  margin-top: 10px;
}
/*! -------------------- Responsiveness -------------------- */

@media screen and (max-width: 50px) {
  :root {
    --gradient-start: #f08080;
    --gradient-middle: #3cb371;
    --gradient-end: #f08080;
  }
  .svgEllipse {
    width: 25%;
    height: 25%;
  }
  .svgConstellation {
    width: 25%;
    height: 25%;
  }
}
