body {
  background-color: #001628;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"] {
  width: 80vw;
  height: 4vh;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
}

textarea {
  width: 80vw;
  height: 10vh;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  margin-top: 0.5vh;
  margin-bottom: 1.8vh;
  box-shadow: -6px 8px;
  background-color: #001628;
  border: 3px solid;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 30px;
  transition: all 0.2s linear 0s;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.2s linear 0s;
  left: 0px;
  color: #001628;
  background-color: #fff;
  border: 3px solid #001628;
  box-shadow: 0px 0px 0 #fff;
  position: relative;
}

button:active {
  background-color: #2980b9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.delete-button {
  margin-top: 3vh;
  margin-bottom: 0vh;
  box-shadow: -10px 1px;
  background-color: #fff;
  border: 3px solid;
  display: inline-block;
  cursor: pointer;
  color: red;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s linear 0s;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  margin-left: 1vw;
  margin-bottom: -1.9vh;
  padding-bottom: 1.9vh;
  padding-top: 1.5vh;
  width: 7vw;
  min-width: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.delete-button:hover {
  transition: all 0.2s linear 0s;
  left: 0px;
  color: #fff;
  background-color: red;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0 #fff;
  position: relative;
}

.delete-button:hover > .trash {
  transform: scale(1.2);
  transition: all 0.2s linear 0s;
}
.delete-button:active {
  background-color: #2980b9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
.edit-button {
  margin-top: 1vh;
  box-shadow: -8.8px 2px;
  background-color: #fff;
  border: 3px solid;
  display: inline-block;
  cursor: pointer;
  color: #4559fa;
  transition: all 0.2s linear 0s;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  margin-left: 1.3vw;
  margin-bottom: -1.9vh;
  padding-bottom: 1.9vh;
  padding-top: 1.5vh;
  width: 7vw;
  min-width: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  align-items: center;
  text-align: center;
}

.edit-button:hover {
  transition: all 0.2s linear 0s;
  left: 0px;
  color: #fff;
  background-color: #4559fa;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0 #001628;
  position: relative;
}
.edit-button:hover > .pencil {
  transform: scale(1.2);
  transition: all 0.2s linear 0s;
}

.edit-button:active {
  background-color: #2980b9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29vw;
  min-width: 340px;
  height: 28vh;
  margin-bottom: 12vh;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s;
  transform-style: preserve-3d;
  flex-shrink: 0;
  margin-right: 10px;
  margin-left: 0;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 28vw;
  min-width: 345px;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.card-front {
  background-color: white;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  border-radius: 20px;
  backface-visibility: hidden;
}

.card-back {
  background-color: #4559fa;
  color: white;
  transform: rotateY(180deg);
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  overflow-y: scroll;
  border-radius: 20px;
}

.card-text {
  overflow-y: scroll;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel-nav {
  position: absolute;
  bottom: 0;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.carousel-button1 {
  margin-right: 40px;
  width: 7vw;
  height: 7.5vh;
}
.carousel-button2 {
  width: 7vw;
  height: 7.5vh;
}

.carousel-button:focus {
  outline: 0;
}

.carousel-button:hover {
  color: #ccc;
}

.carousel-button:active {
  color: #999;
}
