body {
  background-color: #001628;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"] {
  width: 40vw;
  height: 4vh;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
}

textarea {
  width: 40vw;
  height: 10vh;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  margin-top: 1.5vh;
  margin-bottom: 2.5vh;
  box-shadow: -6px 8px;
  background-color: #001628;
  border: 3px solid;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Nunito;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 30px;
  transition: all 0.2s linear 0s;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.2s linear 0s;
  left: 0px;
  color: #001628;
  background-color: #fff;
  border: 3px solid #001628;
  box-shadow: 0px 0px 0 #fff;
  position: relative;
}

button:active {
  background-color: #2980b9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  height: 28vh;
  margin-bottom: 12vh;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  flex-shrink: 0;
  margin-right: 10px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.card-front {
  background-color: white;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  border-radius: 20px;
}

.card-back {
  background-color: #4559fa;
  color: white;
  transform: rotateY(180deg);
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  overflow-y: auto;
  border-radius: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-nav {
  position: absolute;
  bottom: 0;
  margin-bottom: -0.25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.carousel-button1 {
  margin-right: 40px;
  width: 6vw;
  height: 8vh;
}
.carousel-button2 {
  margin-right: 40px;
  width: 6vw;
  height: 8vh;
}

.carousel-button:focus {
  outline: 0;
}

.carousel-button:hover {
  color: #ccc;
}

.carousel-button:active {
  color: #999;
}
